* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", "Times New Roman", Times, serif;
}
h1 {
  font-size: 50px;
  line-height: 64px;
}
h2 {
  font-size: 46px;
  line-height: 54px;
}
h3 {
  font-size: 34px;
}
h4 {
  font-size: 20px;
}
h6 {
  font-weight: 700;
}
p {
  font-size: 16px;
  color: grey;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
body {
  width: 100%;
}

/*Navigation Bar*/
.logo {
  width: 80px;
  height: 80px;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: rgb(185, 148, 78);
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#nav_bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav_bar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#nav_bar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: rgba(19, 12, 12);
  transition: 0.5s ease;
}
#nav_bar li a:hover,
#nav_bar li a.active {
  color: blue;
}
#nav_bar li a.active::after,
#nav_bar li a:hover::after {
  content: "";
  width: 60%;
  height: 2px;
  background: blue;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#nav_bar button {
  align-items: center;
  background-color: #dfa21e;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#nav_bar button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}


#nav_bar button:hover:after {
  transform: translate(0, 0);
}

#nav_bar button:active {
  background-color: #ffdeda;
  outline: 0;
}

#nav_bar button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
#mobil{
  display:none;
  align-items:center;
}

/* Home Page*/
#banner {
  background-image: url("img/banner.jpeg");
  min-width: 400px;
  object-fit: cover;
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 20% right 0%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#banner h4 {
  padding-bottom: 15px;
}

#banner h1 {
  color: #088178;
}
button.shop  /* #banner button*/ {
  border-color: #3498db;
  background-color: transparent;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;

  box-sizing: border-box;
  border: 2px solid #3498db;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 5px 13px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
/*#banner button:hover*/ button.shop:hover{
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
/*#banner button a*/ button.shop  {
  text-decoration: none;
}
/*feature Section home page*/
#feat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feat .box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.3);
  border: 2px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0px;
  transition: 0.2s ease;
}
#feat .box:hover {
  box-shadow: 10px 10px 54px rgb(70, 62, 211, 0.1);
}
#feat .box img {
  width: 100%;
  margin-bottom: 10px;
}
#feat .box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
#prod1 {
  text-align: center;
}
#prod1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#prod1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.2);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#prod1 .pro:hover {
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
}
#prod1 .pro .img1 {
  width: 100%;
  border-radius: 20px;
}
#prod1 .pro .disc {
  text-align: start;
  padding: 10px 0;
}
#prod1 .pro .disc span {
  color: rgb(106, 110, 114);
  font-size: 12px;
}
#prod .pro .disc h5 {
  padding-top: 7px;
  color: black;
  font-size: 14px;
}
#prod .pro .disc i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}
#prod .pro .disc h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
/*not working yet, probably because its an image rather than an icon from font awesome, will fix soon
might be better to change this to a button
#prod .pro .cart{
    width:40px;
    height:40px;
    line-height: 40px;
    border-radius:50px;
    font-weight:500;
    color: #088178;
    border-color: 3px #cce7d0;
    position:absolute;
    bottom:20px;
    top:10px;
}
*/
#ad {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/ad.jpeg");
  width:100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#ad h2{
  color: #088178;
}

/* About Page */
#page-header{
  
  background-image: url("img/oldMain.jpg");
  width:100%;
  height: 40vh;
  background-size:contain;
  display:flex;
  justify-content:center;
  text-align:center;
  padding:14px;
  /*to center use flex-direction:column*/
}

#page-header h1{
  color:#dfa21e;
}
#about-head{
  display:flex;
  align-items: center;
}
#about-head img{
width:45%;
height:auto;
}

#about-head div{
  padding:40px;
}
/*footer*/

footer {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(185, 148, 78);
  
}
.foot{
  display:flex;
}
footer img{
  width:100px;
}

/*Media Quiery 
this code is me working on making our webpage look good on smaller screens, but it is still a work in progress
 <div id="mobil">
            <i class="bi bi-arrow-left-circle-fill"></i>
   </div>
  the html goes after the navbar
@media(max-width:799px){
  #nav_bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position:fixed;
    top:0;
    right:-300px;
    height:100vh;
    width:300px;
    background-color: blue;
    box-shadow: 0 40px 60px rgb(0, 0, 0, 0.2);
    padding:80px 0 0 10px;
  }
  #nav_bar li{
    margin-bottom: 35px;
  }
  #mobil{
    display:flex;
    align-items:center;
  }
  #mobil i{
    color:black;
    font-size: 24px;
    padding-left:20px;
  }
}
*/
/*shop page */

/*reviews page */
#review-section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(185, 148, 78);
}
.wrapper {
  padding: 20px;
  background: #FFF;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  width: 600px;
  min-height: 400px;
  margin: 20px 0;
}

.wrapper .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.wrapper .form .row .input-group {
  padding: 0 10px;
  display: block;
}

.wrapper .form .row .input-group:first-child {
  padding-left: 0;
}

.wrapper .form .row .input-group:last-child {
  padding-right: 0;
}

.wrapper .form .input-group {
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
}

.wrapper .form .input-group label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

.wrapper .form .input-group .btn {
  margin: 20px 0;
  display: block;
  padding: .7rem 2rem;
  opacity: .8;
  color: #FFF;
  background:#dfa21e;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
  transition: .3s ease-in;
}

.wrapper .form .input-group .btn:hover {
  opacity: 1;
}

.wrapper .form .input-group input, .wrapper .form .input-group textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #dfa21e;
  outline: none;
  padding: 5px 10px;
}

.wrapper .form .input-group.textarea {
  height: 200px;
}

.wrapper .form .input-group.textarea textarea {
  resize: none;
}

.wrapper .prev-comments {
  margin-top: 50px;
}

.wrapper .prev-comments .single-item {
  background: #FFF;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  padding: 10px 20px;
  text-align: left;
  margin-bottom: 25px;
}

.wrapper .prev-comments .single-item h4 {
  font-size: 1.3rem;
  font-weight: 800;
  color: #111;
}

.wrapper .prev-comments .single-item a {
  margin: 10px 0;
  font-size: 1rem;
  color: #111;
  text-decoration: none;
  display: inline-block;
}

.wrapper .prev-comments .single-item p {
  font-size: .9rem;
  color: #111;
}